@import url('https://fonts.cdnfonts.com/css/sofia-pro');
@import url('https://fonts.cdnfonts.com/css/proxima-nova-2');

@font-face {
  font-family: 'TypoGraphica Regular';
  font-style: normal;
  font-weight: normal;
  src: local('TypoGraphica Regular'), url('/fonts/TypoGraphica_demo.woff') format('woff');
  }

html,body{
  font-family: 'Proxima Nova', sans-serif;
  padding:0;
  margin:0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;